@import "tailwindcss";

@theme{
    /* colors */
    /* colocar color antes para tailwind reconhecer */
    --color-background-black: #121214;
    --color-background-gray: #2a2634;
    --color-background-black-opacity: rgba(0, 0, 0, 0.7);
    --color-background-black-opacity-response: rgba(0, 0, 0, 0.4);
    --color-background-gray-hover: #403a4d;

    --color-gray-text: #a1a1aa;
    --color-black-opacity: #000000ff;

    --color-purple-border: #9147ff;

    --color-gradient-1: #9572fc;
    --color-gradient-2: #43e7ad;
    --color-gradient-3: #e2d45c;

    --shadow-button: rgba(255, 248, 107, 0.2);

    /* fonts */
    --font-sans: "Inter", sans-serif;

    /* animations */
    --animate-appear: appear 0.7s forwards;
    --animate-fadeIn: fadeIn 1s forwards;
}

@utility container{
    max-width: 640px;
    margin: 0 auto;
    padding: 0 1.5rem;
}

@keyframes appear{
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes pulse {
    50%{
        opacity: 0.5;
    }
}

@keyframes fadeIn{
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@layer components{
    .bg-gradient{
        background-image: linear-gradient(90deg, var(--color-gradient-1) 0%, var(--color-gradient-2) 50%, var(--color-gradient-3) 100%);
    }

    .bg-gradient-button{
        background-image: linear-gradient(245deg, var(--color-gradient-1) 0%, var(--color-gradient-2) 50%, var(--color-gradient-3) 100%);
    }

    .animate-appear{
        transform: translateY(32px);
        opacity: 0;

        @apply animate-appear;
    }

    .all-unset{
        all: unset;
    }

    .input{
        @apply border-2 border-solid border-purple-border rounded-lg p-[18px] text-[14px] bg-black-opacity 
        focus:outline-none focus:border-gradient-1;
    }

    .button-submit{
        @apply text-black w-full p-4 rounded-lg font-bold uppercase tracking-[0.12px] cursor-pointer transition-all duration-[0.3s] hover:transform hover:-translate-y-0.5 hover:shadow-[0_5px_16px_var(--shadow-button)];
    }

    #aiResponse ul,
    #aiResponse ol,
    #aiResponse dl{
        @apply p-6 opacity-80;
    }

    .animate-loading{
        animation: pulse 1s infinite
    }

    .animate-loading-text > span{
        display: inline-block;
        animation: pulse 1s infinite
    }

    .animate-loading-text span:nth-of-type(2){
        @apply animate-bounce;
        animation-fill-mode: both;
    }

    .animate-loading-text span:nth-of-type(3){
        @apply animate-bounce;
        animation-delay: 0.3s;
        animation-fill-mode: both;
    }

    .animate-loading-text span:nth-of-type(4){
        @apply animate-bounce;
        animation-delay: 0.6s;
        animation-fill-mode: both;
    }

    .list-games{
        @apply flex flex-col justify-center mt-8
        bg-background-black-opacity-response text-white rounded-lg border-l-4 border-gradient-2 text-[22px] 
        *:py-4 *:px-5 *:first:pt-5 *:last:pb-5 *:first:rounded-t-lg *:last:rounded-b-lg *:hover:bg-background-gray-hover *:transition-all;
    }

    .list-pages{
        @apply mt-5 flex items-center justify-center gap-4 text-base 
        *:flex *:items-center *:justify-center *:bg-background-black-opacity-response *:text-gray-text *:font-medium *:rounded-lg 
        *:p-1 *:w-8 *:h-8 *:cursor-pointer *:hover:bg-background-gray-hover *:transition-all;
    }

    .animation-fadeIn{
        opacity: 0;
        transform: translateX(-20px);

        @apply animate-fadeIn;
    }

    .loadingPages{
        @apply animate-spin border-8 border-background-black-opacity rounded-full bg-transparent;
        border-top: 8px solid var(--color-background-gray);
    }
}